@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
  box-sizing: border-box;
}

body {
    color: #2b2c48;
    font-family: "Jost", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.card{
    max-width: 340px;
    height: 450px;
    margin: auto;
    overflow-y: auto;
    position:relative;
    z-index:1;
    overflow-x: hidden;
    background-color: rgb(240, 245, 248);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(33, 25, 25, 0.2);
}

.card-header{
    position: relative;
    display: flex;
    height: 200px;
    flex-shrink: 0;
    width: 100%;
    transition:0.3s;
}

.card-cover{
    width: 100%;
    height: 100%;
    color: rgb(34, 37, 37);
    position: absolute;
    top: -20%;
    left: 0;
    will-change: top;
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    transform: scale(1.2);
}

.card-avatar{
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.2);
    border-radius: 50%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.card-fullname{
    position: absolute;
    bottom: 0;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
}

.card-department{
    position:absolute;
    bottom: 0;
    font-size:11px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
}

.card-main{
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-subtitle{
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 6px;
}

.card-content{
    padding: 20px;
}

.card-desc{
    line-height: 1.54;
    color: #636b6f;
    font-size: 14.5px;
    margin: 0;
    font-weight: 400;
    text-align: justify;
    font-family: "DM Sans", sans-serif;
}

.card-social{
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.card-social svg {
    fill: #a5b5ce;
    width: 16px;
    display: block;
    transition: 0.3s;
}

.card-social a {
    color: #87897a1;
    height: 32px;
    width: 32px;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(93,133,193,0.05);
    border-radius: 50%;
    margin-right: 10px;
}

.card-social a:last-child {
    margin-right: 0;
  }
